{% extends "base.html" %}

{% block title %}Ideas - Dodaj{% endblock %}

{% block body%}

{% if idea.errors is not empty %}
<div class="container mt-3">
    {% for error in idea.errors %}

    <div class="alert alert-warning">{{ error }}</div></li>
    {% endfor %}
</div>
{% endif %}

<section id="edit-post" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Dodawanie pomysłu na biznes</h4>
                    </div>
                    <div class="card-block">
                        <form method="post" action="{{ URL }}/ideas/create">
                            <div class="form-group">
                                <label for="inputName" class="form-control-label">Nazwa pomysłu</label>
                                <input id="inputName" type="text" class="form-control" name="name" value="{{ idea.name }}">
                            </div>
                            <div class="form-group">
                                <label for="inputEditor">Opis</label>
                                    <textarea id="inputEditor" name="content" class="form-control">{{idea.content }}</textarea>
                            </div>

                            <div class="form-group">
                                <label for="inputContribution" class="form-control-label">Wkład</label>
                                <input id="inputContribution" class="form-control" type="number" name="contribution" placeholder="Wkład" value="{{idea.contribution}}">
                            </div>


                            <div class="form-group">
                                <label for="inputCategory" class="form-control-label">Kategoria</label>
                                <select id="inputCategory" class="form-control" name="category">
                                    {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="row justify-content-md-center mt-5">
                                <div class="form-group col-md-6 text-center">
                                    <input type="hidden" name="token_form" value="{{ token_form }}">
                                    <button type="submit" class="btn bg-inverse text-white btn-block">Dodaj</button>
                                    <a href="{{ URL }}/ideas">Zrezygnuj</a>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}

{% block footer %}
<script src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('content');
</script>
{% endblock %}