{% extends "base.html" %}

{% block title %}Strona Główna{% endblock %}

{% block header %}

<div class="jumbotron jumbotron-fluid bg-inverse text-white">
    <div class="container">
        <h1 class="display-4">Pomysł na milion złotych</h1>
        <blockquote class="blockquote" style="margin-top: 20px;">
            <p class="mb-0">Żeby mieć naprawdę dobry pomysł trzeba mieć wiele pomysłów.</p>
            <footer class="blockquote-footer">Thomas Edison in <cite title="Source Title">Somewhere</cite></footer>
        </blockquote>
    </div>
</div>

{% endblock %}

{% block body%}


<section id="categories">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>Ostatnie pomysły:</h4>
                    </div>
                    <table class="table table-striped mt-3">
                        <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>Nazwa</th>
                            <th>Dodał</th>
                            <th>Ranking</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set x = 1%}
                        {% for idea in ideas %}
                        <tr>
                            <td scope="row">{{ x }}</td>
                            <td><a href="{{ URL }}/ideas/show/{{idea.id}}">{{ idea.name }}</a></td>
                            <td><a href="{{ URL }}/profile/show/{{idea.user_id}}">{{ idea.user_name }}</a></td>
                            <td> {{ idea.ranking }} <i class="fa fa-line-chart text-inverse fa-lg ml-2" aria-hidden="true"></i></td>
                        </tr>
                            {% set x = x + 1%}
                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
